<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh_TW" lang="zh_TW"> 
<head> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
    <title>Cloud Application and Development Task 03 - Read</title> 
	<link href="/style/main.css" rel="stylesheet" type="text/css" />
	<link href="/style/commandline.css" rel="stylesheet" type="text/css" />

	<script src="/library/jQuery/jQuery.js" type="text/javascript"></script> 
	<script src="/main/datum.js" type="text/javascript"></script> 
	<script src="/main/render.js" type="text/javascript"></script> 
	<script src="/main/extract.js" type="text/javascript"></script> 
	<script src="/main/draw.js" type="text/javascript"></script> 
	<script src="/main/decorate.js" type="text/javascript"></script> 
	<script src="/main/init.js" type="text/javascript"></script> 
	<script src="/main/utils.js" type="text/javascript"></script> 
	<script src="/main/enumeration.js" type="text/javascript"></script> 
	<script src="/main/update.js" type="text/javascript"></script> 
	<script src="/main/receiver.js" type="text/javascript"></script> 
	<script src="/main/listener.js" type="text/javascript"></script> 
	<script src="/main/io.js" type="text/javascript"></script> 
	<script src="/main/notify.js" type="text/javascript"></script> 
	<script src="/main/parse.js" type="text/javascript"></script> 
	<script src="/main/dispatch.js" type="text/javascript"></script> 
	<script src="/main/handler.js" type="text/javascript"></script> 

	<script src="/config/config.js" type="text/javascript"></script> 
	<script src="/config/attribute.js" type="text/javascript"></script> 
	<script src="/config/id.js" type="text/javascript"></script> 
	<script src="/config/styleclass.js" type="text/javascript"></script> 
	<script src="/config/misc.js" type="text/javascript"></script> 
	<script src="/config/api.js" type="text/javascript"></script> 
	<script src="/config/instruction.js" type="text/javascript"></script> 
	<script type="text/javascript">
		jQuery(document).ready(function(){
			initialize();
		});
	</script>

</head>
<body>

<div id="main">
	<h1 id="title">
	</h1>

	<div id="command">

	<span class="line_prompt command_prompt">&gt;</span>
	<input class="line_name command_name" maxlength="15"/>
	<span contenteditable="true" class="line_content command_content"></span>

	</div>

	<div id="view">

	</div>

</div>

</body>
</html>
