
    <div id='read'>
        <div id='wrapper'><!-- For "-margin" sidebar -->
		<div id='wall_post_feedback'>
		</div>
            <div id='post' class='post'>
            </div>
        </div>
        <div id='sidebar'>
            <div id='wall_post' class='wall_post'>
                <div id='wall_post_title' class='wall_post_title'>
                </div>
            </div>
            <div id='wall_comment' class='wall_comment'>
            </div>
        </div>
    </div>

